body{
    background: linear-gradient(100deg,#bebebe 50%, #cecece 50%);
    font-family: sans-serif;
}

:root{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

svg{
    background-color:#eee;
    box-shadow: 0px 10px 20px 10px #8f8779;
}

/* rect{
    fill:#FFAF12;
    opacity:0.3;
} */

rect:hover{
    fill:white;
    opacity: 0.5;
}

.tooltip {
    background-color: #eee;
    border-left:10px solid #8f8779;
    border-right:10px solid #8f8779;
    border-top:2px solid #8f8779;
    border-bottom:2px solid #8f8779;
    position: absolute;
    opacity: 0;
    color:black;
    font-size: 15px;
    padding: 10px;
    pointer-events: none;
    text-align: left;
  }